body {
    font: 400 16px/1.4 'serif';
    }
  #editor1 {
    border: 3px inset grey;
    height: 100px;
    width: 381px;
    margin: 10px auto 0;
   }
  fieldset {
    margin: 2px auto 15px;
    width: 358px;
  }
  button {
    width: 5ex;
    text-align: center;
    padding: 1px 3px;
  }

  .post-editor{
      padding: 100px;
      height: 100%;
  }

  .post-editor img{
      width: 200px;
      height: 200px;

  }