body{
   background-color: bisque;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(45deg,rgb(207, 238, 250) , rgb(219, 247, 219) , rgb(243, 243, 207));
}

.container{
    width: 50%;
}

fieldset{
    margin-top: 100px;
    font-size: large;
    border-radius: 5px;
    border: 4px solid saddlebrown;
  
   
}

legend{
    font-size: large;
    margin-left: 50px;
    font-size: 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 30px;
    
}

input{
    height: 40px;
    margin-bottom: 30px;
    font-size: large;
}

button{
    height: 40px;
}

textarea{
    margin-bottom: 40px;
    font-size: large;

}

@media only screen and (max-width:650px){
    .container{
        width: 70%;
    }
    form{
        padding: 20px;
    }

    body{
        justify-content: center;
    }
}

@media only screen and (max-width:440px){
    .container{
        width: 90%;
    }
    form{
        padding: 10px;
    }

    body{
        justify-content: center;
    }
}