*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 background-color: #e9eef3;
}
h3{
    color: green;
}

a{
    color: azure;
}

.banner{
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    height: 100vh;
    background-image: url('banner3.jpg');
    background-repeat: no-repeat;
    background-position: right;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size:cover;
  box-shadow:inset 0 0 0 2000px rgba(4, 124, 172, 0.459);
    
}

.banner-title {
    font-size: 30px;
    color: rgba(164, 250, 243, 0.774);
    text-shadow: 2px 2px #000000;
    padding: 20px;
    background-color: rgba(81, 211, 200, 0.411);
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(233, 233, 233);
}
.banner-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.banner-links a{
    padding:20px;
    background-color: rgba(81, 211, 200, 0.411);
    margin: 20px;
    width: 150px;
    color: rgba(244, 255, 253, 0.774);
    text-align: center;
    border-radius: 5px;

}

.banner-links a:hover{
    padding:20px;
    background-color: rgb(230, 255, 2);
    margin: 20px;
    width: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;

}
.items{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
}

.custom-card-body{
    background-color: #0a1624;
    margin-bottom: 30px;
    border-color: azure;
}

p{
    color: azure;
}