<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
   
    <link rel = "stylesheet" href="/static/create.css" />
    <title>Sell product registration</title>
    
  </head>
  <body>
    <!-- <h3>Register to sell a product</h3>
    {% for message in messages %}
    <h4>
        {{message}}
    </h4>
    {% endfor %}
    <div class="container">
      <div class="buttons">
        <button>bold</button>
        <button>italic</button>
        <button>list item</button>
        <button>color</button>
        <a href="#">images</a>
      </div>
        <form method="POST" action="create" enctype="multipart/form-data" >
            {% csrf_token %}
            <label for="exampleFormControlTextarea1" class="form-label">Enter the title of your post</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title" , name = "title" >

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Write about your goods</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name = "description"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tell about price</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="@price" , name = "price" >
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>  
        </form>
          
    </div> -->


    <div id="post-editor" contenteditable="true">
      The quick brown fox jumped over the lazy dog.
   </div>
   <fieldset>
     <button class="fontStyle" onclick="document.execCommand('italic',false,null);" title="Italicize Highlighted Text"><i>I</i>
     </button>
     <button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text"><b>B</b>
     </button>
     <button class="fontStyle" onclick="document.execCommand( 'underline',false,null);"><u>U</u>
     </button>
     <button class="fontStyle" onclick="document.execCommand( 'foreColor', false, 'rgba(207, 238, 250)');">color
     </button>
     <button class="fontStyle" onclick="insertImage()">image
    </button>
    <button class="fontStyle" onclick="document.execCommand('delete');">delet selection
    </button>
   </fieldset>

   <div class="images">
     {% for image in images %}
     <img src="{{image.image.url}}" style="width: 100px; height: 100px;" onclick="insertImage('{{image.image.url}}')">
   </div>
    <div id="result"></div>
    {% endfor %}
    <script>
      function insertImage(img){
        console.log(img)
       
        document.execCommand('insertHTML', false, '<br><br><br><br>');
        document.execCommand('insertImage',false ,img+'?size=200' );
        document.execCommand('insertHTML', false, '<br><br><br><br>');
        
      }

      
    </script>
    
  </body>
</html>