<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
   
    <link rel = "stylesheet" href="/static/login.css" />
    <title>Resell comunity login</title>
  </head>
  <body>
    
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
    

    <div class="container">
      <fieldset>
        <legend>Login to Resell comunity</legend>
        <form method="POST" action="login">
          {% csrf_token %}
          <input type="text"  placeholder="@username" , name = "user" >
          <input type="password"  placeholder="password" , name = "password1" >
        <button type="submit" >Login</button>  
      </form>
      </fieldset>
    </div>
   

  </body>
</html>